@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 68px 135px 64px 135px;
  background-color: #28293e;
  min-height: 100vh;
}

.container h1 {
  margin-bottom: 22px;
  color: var(--Text_Light_Accent, #ef6d58);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.container h2 {
  margin-bottom: 56px;
  color: var(--Text_Light, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* H2 */
  font-family: Epilogue;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
}

.container ul {
  width: 574px;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.container ul li a {
  text-decoration: none;

  color: var(--Text_Light, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.container .box {
  background-color: red;
  position: relative;
  height: 416px;
}
.container .box img {
  height: 100%;
  width: 100%;
}

.container .box button {
  position: absolute;
  color: var(--Text_Dark, #391400);
  font-feature-settings: "clig" off, "liga" off;

  /* Text */
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  border-radius: 19px;
  background: #fff;
  padding: 5px 10px;
  border: none;
  bottom: 122px;
  left: 48px;
}
.container .box p {
  position: absolute;
  color: var(--Text_Light, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  bottom: 51px;
  left: 48px;
}

.container .image-box .box-1 {
  display: flex;
  justify-content: space-between;
}
.container .image-box .box-1 .box:last-child {
  width: 55%;
}

.container .image-box .box-1 .box:first-child {
  width: 40%;
}
.container .image-box .box-2 .box:last-child {
  width: 40%;
}

.container .image-box .box-2 .box:first-child {
  width: 55%;
}
.container .image-box .box-2 {
  justify-content: space-between;
  display: flex;
  margin-top: 30px;
}

